<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.ContactsDao" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.Contacts" >
    <id column="CID" property="cid" jdbcType="INTEGER" />
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="groupID" property="groupid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    CID, userID, groupID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from contacts
    where CID = #{cid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
 	<include refid="Base_Column_List" />
 	from contacts
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select 
  	<include refid="Base_Column_List" />
  	from contacts
  	where userID = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from contacts
    where CID = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.hnust.pojo.Contacts" >
    insert into contacts (CID, userID, groupID
      )
    values (#{cid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.Contacts" >
    insert into contacts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        CID,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="groupid != null" >
        groupID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.Contacts" >
    update contacts
    <set >
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupID = #{groupid,jdbcType=INTEGER},
      </if>
    </set>
    where CID = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.Contacts" >
    update contacts
    set userID = #{userid,jdbcType=INTEGER},
      groupID = #{groupid,jdbcType=INTEGER}
    where CID = #{cid,jdbcType=INTEGER}
  </update>
</mapper>